{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<h1>Welcome to your profile</h1>
<h3>Hello {{user}}</h3>
{% if messages %}
<div>
    {% for m in messages %}
    <p class="bg-success p-3 text-white">{{m}}</p>
    {% endfor %}

</div>
{% endif %}
<br>
<p><a href="{% url 'passchange' %}">Change Password</a></p>
<p><a href="{% url 'passchange2' %}">Change Password without old password</a></p>
<div>
    <form method="post" style="width: 50%; margin:auto" novalidate>
        <h1>Update Profile</h1>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
        <p class="bg-danger text-white p-3">{{er}}</p>
        {% endfor %}
        {% endif %}
        <!-- {{form|crispy}} -->
        {% for fm in form %}
        {{fm.label_tag}}
        {{fm}}
        {{fm.errors|striptags}}
        {% endfor %}
        <br>
        <button class="btn btn-warning" type="submit">Change Data</button>
    </form>
</div>
{% endblock %}